.main{
    color:black;

};
button{
    color: blue;
}
body{
    background-color: 	#8fbc8f;
    text-align: center;
}
.hi{
    color: white;
    background-color: blue;
}
.h3{
    color: blue;

}